TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TARGET_GROUP_ID=-
BOT_NOTIFY_TOKEN=
NOTIFY_CHAT_ID=

OKX_API_KEY=
OKX_SECRET=
OKX_PASSPHRASE=
OKX_SANDBOX_MODE=True

# Cấu hình quản lý vốn
USDT_BUDGET=5.0
LEVERAGE=5