# Cấu hình thông báo Telegram
BOT_NOTIFY_TOKEN=
NOTIFY_CHAT_ID=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Cấu hình API OKX
TARGET_GROUP_ID=
OKX_API_KEY=
OKX_SECRET=
OKX_PASSPHRASE=

# Cấu hình API OKX DEMO
TARGET_GROUP_ID_DEMO=
OKX_API_KEY_DEMO=
OKX_SECRET_DEMO=
OKX_PASSPHRASE_DEMO=

# Cấu hình chế độ sandbox
OKX_SANDBOX_MODE=True

# Cấu hình quản lý vốn
USDT_BUDGET=5.0
LEVERAGE=5